@model IEnumerable<Project_1.Models.PlacementDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcademicYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criteria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criteria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlacementId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlacementId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlacementId })
        </td>
    </tr>
}

</table>
